In [1]:
month="janfebmaraprmayjunjulaugsepoctnovdec"

In [2]:
num=eval(input("enter the no. from 1 to 12"))
if num>=1 and num<=12:
    print("valid")
else:
    print("invalid month")

enter the no. from 1 to 1212
valid

In [4]:
num=eval(input("enter the no. from 1 to 12"))
if num>=1 and num<=12:
    print(month[:])
else:
    print("invalid month")

enter the no. from 1 to 121
janfebmaraprmayjunjulaugsepoctnovdec

In [5]:
num=eval(input("enter the no. from 1 to 12"))
if num>=1 and num<=12:
    print(month[0:3])
else:
    print("invalid month")

enter the no. from 1 to 122
jan

In [6]:
num=eval(input("enter the no. from 1 to 12"))
if num>=1 and num<=12:
    print(month[(num-1)*3:(num*3)])
else:
    print("invalid month")

enter the no. from 1 to 127
jul

In [7]:
num=eval(input("enter the no. from 1 to 12"))
if num>=1 and num<=12:
    print(month[0:3])
else:
    print("invalid month")

enter the no. from 1 to 1212
jan

In [8]:
num=eval(input("enter the no. from 1 to 12"))
if num>=1 and num<=12:
    print(month[0:3])
else:
    print("invalid month")

enter the no. from 1 to 1224
invalid month

In [9]:
i=1234

In [10]:
str(i)

'1234'

'4321'

In [12]:
int(str(i)[::-1])

4321

In [13]:
n=[1,2,3,4,5,6]

In [14]:
if n%2==0:
    print(%d,even,n)
    else
    print(%d,odd,n)

SyntaxError: invalid syntax (<ipython-input-14-f776d96f246e>, line 2)

In [5]:
n=int(input("enter a no:"))
if n%2==0:
    print("even")
else:
    print("odd")

enter a no:56
even

In [18]:
a=5

In [7]:
x=int(input("enter a no"))
n=x
rev=0
while n>0:
    rem=n%10
    rev=rev*10+rem
    n=n//10
print("reverse no",rev)
if x==rev:
    print(x,"is a palindrome")
else:
     print(x,"is not a palindrome")

enter a no1221
reverse no 1221
1221 is a palindrome

In [9]:
x=int(input("enter a no"))
for x in range(1,1000):
n=x
rev=0
while n>0:
    rem=n%10
    rev=rev*10+rem
    n=n//10
print("reverse no",rev)
if x==rev:
    print(x,"is a palindrome")
else:
     print(x,"is not a palindrome")

IndentationError: expected an indented block (<ipython-input-9-7f3cc7be6859>, line 3)

In [10]:
a=5

In [11]:
bin(a)

'0b101'

In [12]:
b=bin(a)

In [13]:
b[-1]

'1'

In [14]:
if b[-1]=='0':
    print("even")
else:
    print("odd")

odd

In [15]:
if (a&1)==0:
    print("even")
else:
    print("odd")

odd

In [16]:
hex(100)

'0x64'

In [17]:
oct(100)

'0o144'

In [18]:
a=5
print("even no") if a%2==0 else print("odd no")

odd no

In [20]:
for i in range(1,1000):
    q=int(str(int(int(str(i*i)[::-1])**0.5))[::-1])
    if i==q:
        print(i,end="*")

1*2*3*11*12*13*21*22*31*101*102*103*111*112*113*121*122*201*202*211*212*221*301*311*

In [21]:
p=12

In [22]:
int(str(int(int(str(p*p)[::-1])**0.5))[::-1])

12

In [24]:
for a in range(2,1000):
    k=0
    for i in range(2,a//2+1):
        if(a%i==0):
            k=k+1
    if(k<=0):
        print(a,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [30]:
for num in range(1,1000):
    temp=num
    reverse=0
    while(temp>0):
        remainder=temp%10
        reverse=(reverse*10)+remainder
        temp=temp//10
    if(num==reverse):
        print("%d"%num,end=" ")

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

In [31]:
import math
for n in range(1,1000):
    temp=n
    sum=0
    while(temp>0):
        remainder=temp%10
        factorial=math.factorial(remainder)
        sum=sum+factorial
        temp=temp//10
    if(sum==n):
        print("%d is a strong no" %n)

1 is a strong no
2 is a strong no
145 is a strong no

In [41]:
for num in range(1,1000+1):
    order=len(str(num))
    temp=num
    sum=0
    while temp>0:
        digit=temp%10
        sum=sum+digit**order
        temp=temp//10
        if num==sum:
            print(num,end=" ")

1 2 3 4 5 6 7 8 9 25 36 125 153 216 370 371 407 729

In [44]:
lower=1
upper=1000
for num in range(lower,upper+1):
    temp=num
    sum=0
    while temp>0:
        digit=temp%10
        sum=sum+digit**3
        temp=temp//10
        if num==sum:
            print(num,end=" ")

1 64 125 153 216 370 371 407 729

In [40]:
import math
result=0
n=0
for i in range(1+1,1000,1):
    temp2=i
    temp1=i
    while(temp!=0):
        temp1=int(temp1/10)
        n=n+1
    while(temp2!=0):
        remainder=temp2%10
        result=result+math.pow(remainder,n)
        temp2=int(temp2/10)
if(result==i):
   print(i," ")
n=0
result=0

In [1]:
ls=[1,2,3,4,5,6,7,9,8,2]

In [2]:
ls.append(1)

In [3]:
ls

[1, 2, 3, 4, 5, 6, 7, 9, 8, 2, 1]

In [4]:
ls.count(1)

2

In [5]:
ls.extend(1,9)

TypeError: extend() takes exactly one argument (2 given)

In [6]:
ls.insert(1,9)

In [7]:
ls

[1, 9, 2, 3, 4, 5, 6, 7, 9, 8, 2, 1]

In [8]:
ls.reverse()

In [9]:
ls

[1, 2, 8, 9, 7, 6, 5, 4, 3, 2, 9, 1]

In [10]:
ls.index(9)

3

In [11]:
ls.pop()

1

In [12]:
ls.pop()

9

In [13]:
ls.remove(3)

In [14]:
ls

[1, 2, 8, 9, 7, 6, 5, 4, 2]

In [15]:
ls1=["a","b","c"]

In [16]:
ls.extend(ls1)

In [17]:
ls

[1, 2, 8, 9, 7, 6, 5, 4, 2, 'a', 'b', 'c']

In [20]:
ls.clear()

In [21]:
ls

[]

In [23]:
ls={1,2,3,9,7,5}

In [24]:
ls.add(1)

In [25]:
ls

{1, 2, 3, 5, 7, 9}

In [28]:
ls1={"a","b","c",9,1}

In [29]:
ls.difference(ls1)

{2, 3, 5, 7}

In [32]:
ls.add(4)

In [33]:
ls.difference_update(ls1)

In [34]:
ls

{2, 3, 4, 5, 7}

In [35]:
ls.intersection(ls1)

set()

In [36]:
ls

{2, 3, 4, 5, 7}

In [37]:
ls.add(6)

In [38]:
ls.intersection_update(ls1)

In [39]:
ls

set()

In [40]:
ls

set()

In [41]:
ls.isdisjoint(ls1)

True

In [42]:
ls1.issubset(ls)

False

In [47]:
ls1.discard(ls)

In [48]:
ls

set()

In [50]:
ls.copy()

set()

In [51]:
ls

set()

In [54]:
ls=(1,2,3,9,8,7,2)

In [55]:
type(ls)

tuple

In [56]:
ls.count(2)

2

In [1]:
hello={236,456,23234,121,565,121}

In [2]:

for i in hello:
    if str(i)==str(i)[::-1]:
        print(i)

565
121

In [3]:
c=0
for i in hello:
    if str(i)==str(i)[::-1]:
        print(i)
        c+=1

565
121

In [4]:
c=0
for i in hello:
    if str(i)==str(i)[::-1]:
        print("palindrome===",i)
        c+=1

palindrome=== 565
palindrome=== 121

In [6]:
for k in range(1,10000):
    s=0
    for i in str(k):
        s=s+int(i)**3
        if s==k:
            print(k)

1
153
370
370
371
407